body {
    background-color: #f5f5f5;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    height: 100%;
    align-items: flex-start;
}

img {
    height: 350px;
    flex-basis: auto;
}

div.main-article {
    flex-basis: auto;
    width: 310px;
    padding: 15px;
    transform: translateX(-60px) translateY(30px);
    background-color: white;
    box-shadow:  8px 8px rgba(0, 204, 255, 0.555), 16px 16px #189CF1;
}

div.articles {
    flex-basis: auto;
}

ul.list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: white;
    width: 300px;
}

li {
    border-bottom: 1px solid #d9d9da;
    padding: 10px 10px 0px 10px;
}

p {
    margin: 0px;
}

h4, .title, .topic {
    margin: 0px 0px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.topic {
    color: #189CF1;
}

h4 {
    background-color: white;
    display: inline-block;
    box-shadow: 3px 3px #189CF1;
    margin-bottom: 15px;
    justify-items: flex-start;
}

small {
    float: right;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: bold;
}

/* Smartphones & iPads (portrait and landscape) ----------- */
@media (min-width : 320px) and (max-width : 1024px) {
    /* Styles */

    body {
        margin-top: 20px;
    }
    .main-container {
        width: 350px;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    div.main-article {
        flex-basis: auto;
        padding: 15px;
        margin-top: 0.5em;
        background-color: white;
        border: 3px solid #189CF1;
        transform: none;
        box-shadow: none;
        width: 315px;
    }

    ul.list {
        width: 350px;
        margin-top: 10px;
    }
}
