body {
    background-color: #f5f5f5;
    margin: 50px 130px;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
}

img {
    height: 23em;
    flex-basis: 100%;
}

div.main-article {
    flex-basis: auto;
    padding: 15px;
    transform: translateX(-75px) translateY(45px);
    background-color: white;
    box-shadow:  8px 8px rgba(0, 204, 255, 0.555), 16px 16px #189CF1;
}

div.articles {
    flex-basis: 120%;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

li {
    border-bottom: 1px solid #d9d9da;
    padding: 10px 10px 0px 10px;
}

p {
    margin: 0px;
}

h4, .title, .topic {
    margin: 0px 0px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.topic {
    color: #189CF1;
}

h4 {
    background-color: white;
    display: inline-block;
    box-shadow: 3px 3px #189CF1;
    margin-bottom: 15px;
}

small {
    float: right;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font: bold;
}